@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #141414;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/* HEADER */

header {
    position: fixed;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    z-index: 100;
    background: linear-gradient(to bottom, rgba(0,0,0,0.9), transparent);
}

.logo {
    font-size: 30px;
    font-weight: 800;
    color: #e50914;
    letter-spacing: 2px;
}

/* HERO */

.banner {
    position: relative;
    height: 95vh;
    display: flex;
    align-items: center;
    padding: 0 60px;
    overflow: hidden;
}

.banner-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #000 20%, rgba(0,0,0,0.4) 60%, transparent);
}

.banner-content {
    position: relative;
    z-index: 2;
    max-width: 600px;
}

.banner-content h2 {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 20px;
}

.banner-content p {
    font-size: 18px;
    margin-bottom: 25px;
    color: #ddd;
}

.btn-main {
    background: #e50914;
    padding: 14px 28px;
    border-radius: 4px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.btn-main:hover {
    background: #b20710;
}

/* CATEGORIAS */

.category {
    padding: 40px 60px;
}

.category h2 {
    margin-bottom: 15px;
    font-weight: 600;
}

.carousel {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding-bottom: 20px;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.card {
    position: relative;
    transition: 0.4s ease;
}

.card img {
    width: 200px;
    border-radius: 4px;
    transition: 0.4s ease;
}

/* HOVER ESTILO NETFLIX */

.card:hover {
    transform: scale(1.3);
    z-index: 5;
}

.card:hover img {
    box-shadow: 0 15px 40px rgba(0,0,0,0.9);
}
